.table-container {
  border: 1px solid var(--border-color);
  font-family: var(--font-family);
  .table-ctn {
    .table-head {
      .table-head-row {
        background-color: var(--bg-secondary);
        .table-head-cell {
          padding: 8px;
          color: var(--primary);
          text-transform: capitalize;
          font-weight: bold;
          font-family: var(--font-family);
        }
      }
    }
    .table-body {
      background: var(--table-body);
      font-family: var(--font-family);
      tr:nth-child(even) {
        background-color: var(--bg);
      }
      .table-body-row {
        border-bottom: 1px solid var(--border-color);
        td {
          .icon-cell {
            display: flex;
            align-items: center;
            .delete{
              cursor: pointer;
              color: red;
            }.edit{
              color: green;
              cursor: pointer;
              margin-right: 4px;
            }
            svg{
              margin-right: 2px;
            }
          }
        }
        &.table-body-row:last-child {
          border-bottom: 0px !important;
        }
        .table-body-cell {
          padding: 6px;
          color: var(--text-table);
          border: 0px;
          cursor: pointer;
          font-size: 11px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .table-container {
    margin-top: 5px;
    width: 100vw;
    .table-ctn {
      .table-body {
        .table-body-row {
          .table-body-cell {
            padding: 4px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
